<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" fxFlex [formGroup]="form">
            <div class="text-center">
                <h2 class="app-name">TAMANDUÁ Dash</h2>
            </div>
            <div *ngIf="errorLogin" class="text-center">
                <p class="error">E-mail e/ou senha inválidos</p>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput formControlName="senha" type="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex fxLayoutAlign="end">
                    <a [routerLink]="'/cadastrar'" href="javascript:void(0)">Cadastrar novo usuário</a>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex fxLayoutAlign="end">
                    <a [routerLink]="'/resetar-senha'" href="javascript:void(0)">Esqueceu sua senha?</a>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" [disabled]="form.invalid || aguardando"
                            (click)="onLogin()">Login
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
