<div class="mb-20" class="box-header" fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="space-between">
    <div>
        <h2 class="m-0">Device 01</h2>
    </div>
    <div>
        <span style="padding-right: 10px"> Status </span>
        <mat-slide-toggle color="warn" [(ngModel)]="device1"></mat-slide-toggle>
    </div>
    <hr fxFlex="100%">
    <div class="hack"></div>
</div>
<div class="mb-20" fxLayout="row warp" fxFlex fxLayoutGap="20px">
    <div fxFlex="calc(33.33333% - 20)">
        <app-stat [bgClass]="'success'" [icon]="'volume_up'" [count]="'13 dB'" [label]="'Som'"></app-stat>
    </div>
    <div fxFlex="calc(33.33333% - 20)">
        <app-stat [bgClass]="'warn'" [icon]="'wb_incandescent'" [count]="'45 lums'" [label]="'Luz'"></app-stat>
    </div>
    <div fxFlex="calc(33.33333% - 20)">
        <app-stat [bgClass]="'marrom'" [icon]="'grain'" [count]="'12%'" [label]="'Poeira'"></app-stat>
    </div>
</div>
<div class="mb-20" fxLayout="row warp" fxFlex fxLayoutGap="20px">
    <div fxFlex="calc(33.33333% - 20)">
        <app-stat [bgClass]="'vermelho'" [icon]="'ac_unit'" [count]="'13 °C'" [label]="'Temperatura'"></app-stat>
    </div>
    <div fxFlex="calc(33.33333% - 20)">
        <app-stat [bgClass]="'info'" [icon]="'wb_cloudy'" [count]="'30%'" [label]="'Umidade'"></app-stat>
    </div>
</div>


<div class="mb-20" class="box-header" fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="space-between">
    <div>
        <h2 class="m-0">Device 02</h2>
    </div>
    <div>
        <span style="padding-right: 10px"> Status </span>
        <mat-slide-toggle color="warn" [(ngModel)]="device2"></mat-slide-toggle>
    </div>
    <hr fxFlex="100%">
    <div class="hack"></div>
</div>
<div class="mb-20" fxLayout="row warp" fxFlex fxLayoutGap="20px">
    <div class="pointer" fxFlex="calc(33.33333% - 20)" (click)="alterar()">
        <app-stat [bgClass]="(true) ? 'warn' : 'cinza'" [icon]="'wb_incandescent'" [count]="'On'"
                  [label]="'Luz'"></app-stat>
    </div>
</div>
