<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" fxFlex [formGroup]="form">
            <div *ngIf="sucesso" class="text-center">
                <h2 class="app-name">Cadastro realizado com sucesso!</h2>
                <a [routerLink]="'/login'">Clique para ir para a home</a>
            </div>
            <ng-container *ngIf="!sucesso">
                <div class="text-center">
                    <h2 class="app-name">Cadastro</h2>
                </div>
                <div *ngIf="errorLogin" class="text-center danger">
                    Erro ao realizar cadastro, tente novamente.
                </div>
                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput formControlName="nome" placeholder="nome">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput formControlName="email" placeholder="Email">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput formControlName="senha" type="password" placeholder="Password">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <button mat-raised-button color="primary" class="w-100" [disabled]="form.invalid || aguardando"
                                (click)="cadastrar()">Login
                        </button>
                    </div>
                </div>
            </ng-container>

        </form>
    </div>
</div>
